/* *, *:before, *:after {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
 */
.clear{ clear:both;}

body {
	background: #373b44; 
	margin: 0px;
	padding: 0px;
	
}
img {
	border-width: 0px;
}
.container {
	padding: 0;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	/*height: 960px;*/
	border: 0px solid red;
}

#jobs .container {
	background: black;
	height: auto;
}
/******************************header**********************************************/
.navbar-default {
	width: 70%;
	border-width: 0px;
	background-color: transparent;
}
.badge {
	background-color: transparent;
	border-width: 0px;
}
.navbar-header {
	/* display: none; */
}
ul.navbar-nav, ul.navbar-nav > li {
	height: 200px;
	float: none;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a, ul.navbar-nav li a {
	font-family: Yanone Kaffeesatz;
	font-size: 40px;
	font-weight: bold;
	color: #FFF6E2;
	line-height: 55px;
	letter-spacing: 1px;
}

ul.navbar-nav .li-1 {
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	float: none;
/* 	background-image: -webkit-linear-gradient(left top, #6b7180,  transparent, transparent); */
	background-image: url('../images/top-left.png');
}
ul.navbar-nav .li-1 a {
	padding-left: 20px;
	width: 166px; 
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	position: fixed;
	top: 0;
	left: 0;
}
ul.navbar-nav .li-2 {
	position: fixed;
	top: 0;
	right: 0;
	clear: none;
	padding-left: 30px;
	/*background-image: -webkit-linear-gradient(right top, #6b7180,  transparent, transparent);*/
	background-image: url('../images/top-right.png');
	width: 200px;
}

ul.navbar-nav .li-2  a{
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	/*padding-left: 16px;*/
	padding-right: 0px;
	padding-top: 0px;
	line-height: 0px;
	/* background-image: url("../images/plus.png");
	background-repeat: no-repeat;
	background-position: 47px 5px;
 */	width: 104px;
}
i.icon-cog {
	font-size: 64px;
	margin-left: 53px;
	display: block;
	margin-top: 11px;
}
i.icon-plus {
	font-size: 62px;
	margin-left: 1px;
	margin-top: 5px;
}
.navbar, .navbar ul.navbar-nav {
	width: 640px;
	margin: 0;
	float: none;
	display: block;
	padding: 0;
}
.nav .li-1 span.badge {
	color: #e1d3b6;
	font-size: 46px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	line-height: 55px;
	float: left;
	
}
.jumbotron { 
	background-color: transparent;
	
}


/*************************************main-round-1*******************************************/

.body_wrapper{
	width:100%;
	padding:0px;
	margin:0px;
	}
	
.body_main{
	width:640px;
	padding:100px 0px;
	margin:100px auto;
	z-index:10000;
	height:600px;
	position:relative;
	overflow:hidden;
	}
	

	
.round-1 .jumbotron {
	background: #373b44;
	background: #373b44;
	padding: 0px;
	margin-top: 0px;
}

.round-1 .jumbotron h1 {
	font-size: 45px;
	color: #fff6e3;
	font-weight: bold;
	font-family: "Yanone Kaffeesatz";
	width: 95px;
	text-align: center;
	height: 95px;
	background-color: #ab220e;
	margin: 0px;
	padding: 21px 0px 0px 0px;
	border-radius: 49px;
	border: 2px solid #cf4531;
	letter-spacing: -1px;
	margin: 59px 0px 0px 61px;
	margin-top: 58px;
	margin-left: 58px;
	display: none;
}
button {
	cursor: pointer;
}
.container #round-2 .jumbotron > span, .container .round-1 .jumbotron > span {
	width: 200px;
	min-height: 200px;
	margin-top: 0px;
}
.round-1 .jumbotron span {
	font-size: 26px;
	z-index: 2000;
	color: #fff6e3;
	cursor: pointer;
	font-weight: bold;
	font-family: "Yanone Kaffeesatz";
	display: block;
	width: auto;
	text-align: center;
	line-height: 32px;
	word-spacing: -2px;
}
.round-1 .circle-1 {
	width: 422px;
	height: 422px;
	border: 15px solid #575e6d;
	border-radius: 211px;
	/* margin-top: 171px; */
	position: absolute; 
	top: 251px;
	top: 0px;
	margin-left: 100px;
	background-image: url('../images/round-1-bg.png');
	background-position: -4px -8px;
}
.round-1 .circle-2 {
	width: 240px;
	height: 240px;
	border: 15px solid #575e6d;
	border-radius: 120px;
	margin: 76px 0px 0px 76px;
}
.round-1 .span-1 {
	position: absolute;
	margin: 0;
	margin-left: 42px;
	top: 251px;
	top: 0px;
	height: auto;
	width: auto;
}
.round-1 .span-2 {
	position: absolute;
	margin: 0;
	margin-left: 382px;
	top: 255px;
	top: 4px;
	margin-top: 33px;
	height: auto;
	width: auto;
}
.round-1 span.circle {
	font-family:"Yanone Kaffeesatz", FrankRuehl;
	font-weight: bold;
	color: #cd4430;
	font-size: 48px;
	background-color: #e1d3b6;
	width: 46px; 
	height: 45px;
	line-height: 38px;
	border-radius: 25px;
	padding-top: 0px;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.round-1 span.circle-02 {
	margin-top: 12px;
}
.round-1 .span-3 {
	position: absolute;
	margin: 0;
	margin-left: 258px;
	margin-top: 2px;
	top: 568px;
	top: 317px;
	height: auto;
	width: auto;
}
.round-1 span.circle-03 {
	margin-top: 9px;
}
/****************************************main-round-2*******************************************/
#round-2 .jumbotron {
	background: #373b44;
	padding: 0px;
	margin-top: 0px;
}
#round-2 .jumbotron h1 {
	font-size: 71px;
	color: #fff6e3;
	font-weight: normal;
	font-family: "Yanone Kaffeesatz";
	width: 174px;
	text-align: center;
	height: 176px;
	background-color: #ab220e;
	margin: 0px;
	padding: 46px 0px 0px 0px;
	border-radius: 139px;
	border: 2px solid #cf4531;
	letter-spacing: -1px;
	margin: 99px 0px 0px 99px;
	margin-left: auto;
	margin-right: auto;
}
#round-2 .jumbotron span {
	z-index: 2000;
	cursor: pointer;
	font-size: 27px;
	color: #fff6e3;
	font-weight: bold;
	font-family: "Yanone Kaffeesatz";
	display: block;
	text-align: center;
	line-height: 32px;
	letter-spacing: -1px;
}
#round-2 .circle-1 {
	width: 422px;
	height: 422px;
	border: 15px solid #575e6d;
	border-radius: 218px;
	margin-top: 0px;
	margin-left: 100px;
	position: absolute;
	top: 0;
	margin-bottom: 0px;
	max-width:90%;
/*background-image: -webkit-radial-gradient(center center, circle contain, white 80%); /* New WebKit syntax */	
/*  background: -webkit-gradient(radial, center center, 0, 50% 50%, 140, from(#FFFFFF), to(#373b44));*/
	background-image: url('../images/round-2-bg.png');
	background-position: -54px -54px;
  /* Safari 5.1+, Chrome 10+ */
  /*background: -webkit-radial-gradient(circle, #FFFFFF, #373b44);*/
}
/* .circle-2 {
	width: 240px;
	height: 240px;
	border: 15px solid #575e6d;
	border-radius: 130px;
	margin: 74px 0px 0px 76px;
} */

.container  .jumbotron {
	margin: 0;
}
#round-2 .circle-2 {
	display: none;
}
#round-2 .span-1 {
	position: absolute;
	margin: 0;
	left: 57px;
	left: 23px;
	top: 198px;
	top: 39px;
	height: auto;
	width: auto;
}
#round-2 .span-2 {
	position: absolute;
	margin: 0;
	left: 341px;
	left: 289px;
	top: -78px;
	height: auto;
	width: auto;
}
#round-2 span.circle {
	font-family:"Yanone Kaffeesatz", FrankRuehl;
	font-weight: bold;
	color: #cd4430;
	font-size: 48px;
	background-color: #e1d3b6;
	width: 46px; 
	height: 45px;
	line-height: 38px;
	border-radius: 25px; 
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 20px;
}
#round-2 span.circle-02 {
	margin-top: 12px;
}
#round-2 .span-3 {
	position: absolute;
	margin: 0;
	left: 400px;
	left: 357px;
	top: 550px;
	top: 391px;
	word-spacing: 2px;
	height: auto;
	width: auto;
}
#round-2 span.circle-03 {
	margin-top: -122px;
}
/****************************************view-job-post******************************/
#jobs #wrapper {
	background-color: #ab220e;
	width: 1235px;
	min-height: 1200px;
	margin-left: -304px;
	margin-top: 55px;
	border: 2px solid #cf4531;
	border-radius: 600px;
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-bottom: 131px;
}
#jobs .container{
	  background: -webkit-gradient(radial, center center, 0, 50% 655, 700, from(#FFFFFF), to(#373b44));
	  width:640px;
	  margin:0 auto;

}
#jobs #article-wrapper {
	min-height: 1821px;
	width: 460px;
	margin: 0 auto;	
	margin-top: 41px;
	background-color: #ab220e;
}
#jobs article {
	width: 460px;
	position: absolute;
	background-color: #ab220e;
	display: none;

	
}
#jobs article#article-1 {
	display: block;
}
#jobs article h1 {
	font-family:  "Yanone Kaffeesatz";
	font-style: normal;
	font-size: 60px;
	color: #fff6e2;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 12px;
	margin-bottom: 0px;
}
#jobs article h2 {
	font-family:  "Yanone Kaffeesatz";
	font-style: normal;
	font-size: 41px;
	color: #fff6e2;
	text-align: center;
	padding-top: 10px;
	margin-top: 4px;
	padding-right: 8px;
}
#jobs article p {
	font-family: "Yanone Kaffeesatz";
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	color: #fff6e2;
	line-height: 41px;
	margin-top: 22px;
	word-spacing: 2px;
	margin-left: -3px;
	
}
#jobs article ul {
	margin-top: 60px;
	margin-left: 0px;
	position: absolute;
	width: 460px;
	
}
#jobs article ul li {
	font-family: "Yanone Kaffeesatz";
	font-weight: normal;
	font-style: normal;
	font-size: 28px;
	color: #fff6e2;
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
	display: block;
	line-height: 35px;
	margin-top: 1px;
	margin-bottom: 17px;
}
#jobs article button {
	background: #373b44;
	color: #fff6e2;
	width: 287px;
	font-family:  "Yanone Kaffeesatz";
	font-size: 43px;
	font-weight: bold;
	border-radius: 10px;
	border: 1px solid #f6563f;
	/* margin-bottom: -54px; */
	margin-left: 87px;
	position: relative;
	
}
#jobs article button.btn {
	margin-top: 10px;
	padding-top: 1px;
	padding-bottom: 6px;
}
#jobs article button.btn-default {
	margin-top: 8px;
	padding-top: 2px;
	padding-bottom: 5px;
	line-height: 55px;
	width: 287px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.btn-default a{
	color:#fff6e2;
	text-decoration:none
	}



#jobs article img {
	margin-left: 42px;
	margin-top: 32px;
	border-width: 0px;
}
#jobs article ul li span.circle {
	background-color: #e1d3b6;
	width: 46px; 
	height: 45px;
	border-radius: 25px;
	padding-top: 5px;
	display: block;
	margin-top: 7px;
	margin-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
}
#jobs article .div-10 {
	background-color: #941d0c;
	width: 8px; 
	height: 700px;
	margin: 0 auto;
	margin-top: 140px;
	margin-right: 230px;
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 199px; */
}
#jobs article .div-button {
	margin-top: 69px;
	margin-left: -3px;
	
	
}
/**************************************hidden menu**********************************/
.navbar-header-top {	
	/*top: 0;*/
}
.navbar-header-bottom {	
	/*bottom: 0;*/
}
.navbar-header {
	width: 234px;
	z-index: 2002;
	background-image: url("../images/top-div-back.gif");
	background-repeat: repeat-x;
	padding-top: 16px;
/* 	padding-bottom: 50px; */
	left: 203px;
	
	/*position: fixed;*/
	height: 140px;
	/* margin-top: 5px; */
	display: none;
	overflow: hidden;
}
.navbar-header button.btn-default:hover {
	border: 4px solid #333333;
	border-radius: 12px;
	color: #ffffff;

}
/* .navbar-fixed-top ul li.hidden {
	display: none;
} */
.navbar-header button{
	font-family: "Yanone Kaffeesatz", Aharoni;
	width: 204px;
	margin: 0 auto;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	margin-left: 13px;
	color: #ffffff;
	border: 4px solid #333333;
	border-radius: 12px;
	padding-top: 8px;
	padding-bottom: 6px; 
	line-height: 22px;
}
.navbar-header button.button-1  {
	width: 204px;
	/* margin-left: 10px; */
	margin-bottom: 8px;
	/* padding-top: 12px;
	padding-bottom: 5px;  */
	background-image: url("../images/botton-save.gif");
	background-repeat: repeat-x;
	
}
.navbar-header button.button-2  {
	width: 204px;
	/* margin-left: 10px; */
	/* padding-top: 12px;
	padding-bottom: 5px;  */
	background-image: url("../images/botton-cancel.gif");
	background-repeat: repeat-x;
	
}

/* .Save{
	width: 234px;
	background-image: url("../images/top-div-back.gif");
	background-repeat: repeat-x;
	padding-top: 16px;
	padding-bottom: 50px;
}
.Save button{
	font-family: Aharoni;
	width: 204px;
	margin: 0 auto;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	margin-left: 13px;
	color: #ffffff;
	border: 4px solid #333333;
	border-radius: 12px;
	padding-top: 8px;
	padding-bottom: 7px; 
	line-height: 22px;
}
.Save button.button-1  {
	width: 204px;
	
	margin-bottom: 8px;
	
	background-image: url("../images/botton-save.gif");
	background-repeat: repeat-x;
	
}
.Save button.button-2  {
	width: 204px;
	
	background-image: url("../images/botton-cancel.gif");
	background-repeat: repeat-x;
}
 */
 /***************************footer**********************************************/

 ul.navbar-nav li.li-3 {
/*	background-image: -webkit-linear-gradient(60deg, #6b7180,  transparent, transparent);*/
 	background-image: url('../images/bottom-left.png');
	width: 200px;

	position: fixed;
	bottom: 0;
	left: 0;
	/* padding-bottom: 70px; */
	/* margin-bottom: 70px; */
	/* margin-top: 116px; */
}
ul.navbar-nav li.li-3  a{
	display: block;
	width: 200px;
	padding-left: 22px;
	position: fixed;
	bottom: 0;
	left: 0;
	/* background-image: url("../images/inbox.png");
	background-repeat: no-repeat;
	background-position: 21px 83px; */
	/* padding-bottom: 70px; */
	/* margin-bottom: 70px; */
	/* margin-top: 116px; */
}
span.badge {
	font-size: 45px;
	padding-left: 16px;
	padding-top: 15px;
}
ul.navbar-nav li.li-4 {
	/*background-image: -webkit-linear-gradient(140deg, #6b7180,  transparent, transparent);*/
	background-image: url('../images/bottom-right.png');
	width: 200px;
	padding-left: 20px;
	position: fixed;
	right: 0;
	bottom: 0;
	
/*	margin-top: 113px;*/
}

ul.navbar-nav li.li-4 a {
	width: 149px;
	padding-right: 0px;
	position: fixed;
	bottom: 0;
	right: 0;
	/* margin-top: 93px; */
	/* background-image: url("../images/seeting.png");
	background-repeat: no-repeat;
	background-position: 65px 66px; */
	padding-top: 0px;
	padding-bottom: 10px;
/*	margin-top: 113px;*/
}

.ui-btn-inner {
	display: none;
}

.ui-loader {
	display: none;
}

.hidden {
	display: none;
}

i {
	color: rgb(215, 206, 186);
	text-shadow: none;
}
i.icon-envelope {
	font-size: 60px;
	margin-left: 2px;
	
	margin-top: 9px;
}

#round-2 {
	display: none;
}
#jobs {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width:100%;
}
.round-1, #round-2 {
	top: 0;
	left: 0;
	position: absolute;
	display: none;
	
}
#job-1 {
	display: block;
}

/*#round-2, #job-1, .round-1 { 
	display: none;
}

#jobs {
	display: block;
}*/

/*.navbar-header { 
	display: block;
}*/

body.form .container {
	width: 502px;
	margin: 0 auto;
	margin-top: 40px;
}

body.form .container .full-box input {
	border-radius: 4px;
}
body.form .container .full-box {
	width: 100%;
	
}
body.form input.solo {
	margin: 36px 0px;
	line-height: 20px;
	padding: 0px;
	height: 32px;
	text-align: center;
	display: block;
}

body.form input.solo1 {
	margin: 0px 0px;
	line-height: 20px;
	padding: 0px;
	height: 32px;
	text-align: center;
	display: block;
}

body.form input.disabled {
	height: 34px;
	padding: 6px;
}
body.form .input-group {
	margin-top: 36px;
	margin-bottom: 36px;
}

body.form input.submit {
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 55px;
	height: 87px;
	font-weight: bold;
	line-height: 63px;
	display: block;
	width: 100%;
	margin-top: 101px;
	background-color: #ab220e;
	border: 4px solid #c34331;
	border-radius: 15px;
}
body.form .dropdown-toggle {
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #ccc;
	background-image: none;
}
body.form .dropdown-menu {
	min-width: 278px;
	width: 278px;
}
body.form .dropdown-menu a{
	font-family: "Yanone Kaffeesatz";
	height: auto;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
	text-transform: capitalize; 
}
body.form .input-group button.dropdown-toggle { 
	color: #3d424c;
	background-color: #ccc;

}
body.form .progress {
	border-radius: 15px;
	height: 24px;
	background-color: #3d424c;
	background-image: none;
	margin-bottom: 108px;
}
body.form .progress-bar {
	border-radius: 12px;
	background-color: #73c8a9;
}
:-webkit-input-placeholder { /* WebKit browsers */
    color: #e1d3b6 !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #e1d3b6 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #e1d3b6 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #e1d3b6 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #e1d3b6 !important;
}
input:-webkit-input-placeholder { /* WebKit browsers */
	text-align: center !important;
}
input::-webkit-input-placeholder { /* WebKit browsers */
	text-align: center !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-align: center !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-align: center !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-align: center !important;
}
input.placeholder, input[placeholder]{
    color: #e1d3b6 !important;
	text-align: center !important;
}
body.form .input-group button, body.form input.solo, body.form input.disabled {
	font-family: "Yanone Kaffeesatz";
	height: 95px;
	border: 3px solid #494d55;
	color: #e1d3b6;
	font-size: 55px;
	font-weight: bold;
	line-height: 71px;
	text-transform: capitalize; 
}
body.form .input-group button, body.form input.solo1, body.form input.disabled {
	font-family: "Yanone Kaffeesatz";
	height: 95px;
	border: 3px solid #494d55;
	color: #e1d3b6;
	font-size: 55px;
	font-weight: bold;
	line-height: 71px;
	text-transform: capitalize; 
}

body.form .solo {
	margin-bottom: 37px;
}
body.form button, body.form input, body.form textarea {
	font-family: "Yanone Kaffeesatz";
	background-color: #3d424c;
	color: #e1d3b6;
	border: 3px solid #494d55;
}
body.form textarea { 
	height: 260px;
	font-size: 30px;
}
body.form h1 {
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 77px;
	line-height: 80px;
	word-spacing: 2px;
	margin-bottom: 50px;
	padding-right: 19px;
}

body.form h2 {
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 45px;
	line-height: 80px;
	word-spacing: 2px;
	margin-bottom: 30px;
	padding-right: 19px;
}

.remember_me{
	width:350px;
	margin:0 auto
	}
.remember_me h2 {
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 46px;
	line-height: 80px;
	word-spacing: 2px;
	margin-top: 34px;
	padding-right: 19px;
	width:250px;
	float:left;
}

.remember_me span{
	width:60px;
	height:30px;
	float:left;
	margin-top: 60px;
	background:#73c8a9;
	
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	}

body.form h3 {
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 45px;
	line-height: 80px;
	word-spacing: 2px;
	margin-top: 34px;
	padding-right: 19px;
}

body.form h3 a{
	color:#73c8a9;
	text-decoration:none;
	}
	
body.form h3 a:hover{
	color:#73c8a9;
	text-decoration:none;
	}

span.input-group-addon {
	background-color: #ccc;
}

body.form input[type="checkbox"], body.form input[type="radio"] {
	display: none;
}

body.form form i {
	color: #3d424c;
	cursor: pointer;
	font-size: 50px;
}



/*---------------activity------------*/

.activity_wrapper{
	width:100%;
	margin:0;
	padding:0;
	background: #373b44; 
	}


.activity_main{
	width:640px;
	margin:0 auto;
	}
	



.activity_back_icon{
	width:100px;
	height:200px;
	background:url(../images/top-left.png) no-repeat;
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	
	
	}
	
.activity_back_icon a{
	width:48px;
	height:51px;
	text-decoration:none;
	border:none;
	margin-right:120px;
	}



.activity_header{
	width:50%;
	margin:0 auto;
	padding:94px 0px 0px 0px;
	
	}
.activity_header_img{
	width:113px;
	width:104px;
	margin:0 auto;
	padding:0px;
	}
	
	
.activity_header h1 {
font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 77px;
	line-height: 80px;
	word-spacing: 2px;
	margin-bottom: 74px;
	padding-right: 19px;

}
	
.activity_job{
	width:100%;
	margin:0px 0px 100px 0px;
	padding:0px 0px 0px 0px;
	
	}

.activity_tab{
	width:400px;
	
	height:35px;
	margin:45px auto;
	border:1px solid #7e89a2;
	padding:0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	}
.activity_tab li{
	width:50%;
	text-decoration:none;
	font-family: "Yanone Kaffeesatz";
	color: #e1d3b6;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	list-style:none;
	float:left;
	padding:0px;
	margin:0px;
	
	}
	
.activity_tab li a{
	text-decoration:none;
	color: #e1d3b6;
	padding:0px;
	margin:0px;
	padding:0px 60px 1px 32px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	}
	
.activity_tab li a:hover{

	background:#46c4a7;
	
	}
	
.activity_tab li .active{

	background:#46c4a7;

	
	}
	

	
.activity_collect{
	width:100%;
	margin:0px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:#525b6f;
	border-bottom: 1px solid #7e89a2;
	
	font-family: "Yanone Kaffeesatz";
	color: #e1d3b6;
	font-size: 55px;
	font-weight: bold;
	line-height: 71px;
	text-transform: capitalize;
	
	}
	
.activity_collect_text{
	width:60%;
	float:left;
	font-size:45px;
	line-height:45px;
	padding:0 5% 0 5%;
	
	}	

.activity_collect_points{
	width:25%;
	float:left;
	
	background:#46c4a7;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size:36px;
color:#2d695b;
padding:10px;
text-align:center;
line-height:30px;
	}

.activity_collect_points a{
	color:#2d695b;
	text-decoration:none;
	
	}

/*---------------activity-------[end]-----*/



/*---------------apply------------*/

.apply_wrapper{
	width:100%;
	margin:0;
	padding:0;
	background: #373b44; 
	}


.apply_main{
	width:640px;
	margin:0 auto;
	}
	



.apply_back_icon{
	width:100px;
	height:200px;
	background:url(../images/top-left.png) no-repeat;
	position:absolute;
	text-align:center;
	top:0;
	left:0;
	margin-top:0;
	margin-left:0;
	
	
	}
	
.apply_back_icon a{
	width:48px;
	height:51px;
	text-decoration:none;
	border:none;
	margin-right:120px;
	}



.apply_header{
	width:50%;
	margin:0 auto;
	padding:94px 0px 0px 0px;
	
	}
.apply_header_img{
	width:90px;
	width:107px;
	margin:0 auto;
	padding:0px;
	}
	
	
.apply_header h1 {
font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #e1d3b6;
	font-size: 77px;
	line-height: 4px;
	word-spacing: 2px;
	margin-bottom: 74px;
	padding-right: 19px;
}

.uplode{
	width:345px;
	margin:0px auto;
	}
.uplode_video{
	width:136px;
	height:90px;
	background:#46c4a7;
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #2c6864;
	font-size: 36px;
	line-height:30px;
	float:left;
	margin:0px 70px 20px 0px;
	padding:15px 3px;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	}
.uplode_take_video{
	width:136px;
	height:90px;
	background:#46c4a7;
	font-family: "Yanone Kaffeesatz";
	text-align: center;
	color: #2c6864;
	font-size: 36px;
	line-height:30px;
	margin:0px 0px 20px 0px;
	float:left;
	padding:15px 3px;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	}
/*---------------apply-----------[end]----*/

/*---------------Apps-for-your-jobs------------*/
.apps{
	width:100%;
	margin:0px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:#525b6f;
	border-bottom: 1px solid #7e89a2;
	font-family: "Yanone Kaffeesatz";
	color: #e1d3b6;
	font-size: 55px;
	line-height: 71px;
	text-transform: capitalize;
	}
	
.apps_left_text{
	width:75%;
	float:left;
	font-size:40px;
	line-height:45px;
	padding:7% 5% 0 5%;
	}	

.apps_right{
	width:25%;
	float:left;
	text-align:center;
	}
	
img a{ border:none;}

.app_close_button{
	width:42px;
	height:42px;
	margin:0px 20px 20px auto;
	
	}
	
.apps_job a{
background:#46c4a7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size:36px;
color:#2d695b;
padding:8px 20px;
text-align:center;
line-height:30px;
text-decoration:none;
	}



/*---------------Apps-for-your-jobs-------[end]-----*/


/*---------------Connection-Requests------------*/
.connection{
	width:100%;
	margin:0px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:#525b6f;
	border-bottom: 1px solid #7e89a2;
	font-family: "Yanone Kaffeesatz";
	color: #e1d3b6;
	font-size: 55px;
	line-height: 71px;
	text-transform: capitalize;
	}
	
.connection_left_text{
	width:70%;
	float:left;
	font-size:40px;
	line-height:45px;
	padding:7% 5% 0 5%;
	}	

.connection_right{
	width:25%;
	float:left;
	text-align:center;
	margin:0px 10px 0px 0px;
	}
	
img a{ border:none;}

.connection_close_button{
	width:42px;
	height:42px;
	margin:0px 20px 20px auto;
	
	}
	
.connection_job a{
background:#46c4a7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size:36px;
color:#2d695b;
padding:8px 20px;
text-align:center;
line-height:30px;
text-decoration:none;
	}



/*---------------Connection-Requests-------[end]-----*/


/*---------------Saved-Jobs------------*/
.saved{
	width:100%;
	margin:0px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:#525b6f;
	border-bottom: 1px solid #7e89a2;
	font-family: "Yanone Kaffeesatz";
	color: #e1d3b6;
	font-size: 55px;
	line-height: 71px;
	text-transform: capitalize;
	}
	
.saved_left_text{
	width:72%;
	float:left;
	font-size:40px;
	line-height:45px;
	padding:7% 5% 0 5%;
	}	

.saved_right{
	width:25%;
	float:left;
	text-align:center;
	}
	


.saved_close_button{
	width:42px;
	height:42px;
	margin:0px 20px 20px auto;
	
	}
	
.saved_job a{
background:#46c4a7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size:36px;
color:#2d695b;
padding:8px 20px;
text-align:center;
line-height:30px;
text-decoration:none;
	}



/*---------------Apps-for-your-jobs-------[end]-----*/



/*---------------settings------------------*/

.settings{
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 120px 0px;
	}
	
.setting_box{
		background:#525b6f;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		font-family: "Yanone Kaffeesatz";
		color: #e1d3b6;
		font-size: 55px;
		padding:25px 20px;
		line-height:30px;
		text-decoration:none;
		margin:0px 0px 8px 0px;
	}
	
.setting_box_text{
	width:400px;
	margin:0px;
	padding:0px 10px 0px 45px;
	float:left;
	
	}
	
.setting_box_arrow{
	width:25px;
	height:40px;
	padding:0px 0px;
	margin:0px 30px 0px 0px;
	float:right;
	
 	}
	
.log_out{
	width:475px;
	margin:0 auto 70px auto;
	padding:0;
	
	}
	
.log_out a{

	background:#ab220e;
	border:1px solid #db4c37;
	text-align:center;
	padding:18px 170px 18px 170px;
	
	font-family: "Yanone Kaffeesatz";
		color: #e1d3b6;
		font-size: 55px;
	
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-decoration:none;
	}	

/*---------------settings-------------[end]-----*/




